<footer class="xs-footer-section footer-style3">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-widget">
                                <div class="footer-logo-wraper">
                                    <a class="footer-logo" href="/"><img
                                            src="/img/logo resolusiweb white.webp" width="70%"
                                            alt="logo resolusiweb.com" draggable="false"></a>
                                </div>
                                <p>Alamat Kantor <a href="https://g.page/resolusiweb?share" target="_blank">Jl Palem
                                        Raya Blok XI No 3A, Cibodasari, Cibodas, Tangerang - 15138</a></p>
                                <p>Email<a href="mailto:info@resolusiweb.com"><i class="fa fa-envelope highlight"></i>
                                        info@resolusiweb.com</a></p>
                                <p>Jemmy<a href="https://wa.me/6285186892399"><i
                                            class="fa fa-whatsapp highlight fontsize_16"></i> 0851 8689 2399</a></p>
                                <p>Efraim <a href="https://wa.me/6287784822278"><i
                                            class="fa fa-whatsapp highlight fontsize_16"></i> 0877 8482 2278</a></p>

                            </div>
                            <br>
                            <div class="copyright-content">
                                <ul class="social-list version-2">

                                    <li><a href="https://www.instagram.com/resolusiweb/" class="instagram"><i
                                                class="fa fa-instagram"></i></a></li>
                                    <li><a href="https://id.linkedin.com/company/cv-redim-infotech-solusindo"
                                            class="instagram"><i class="fa fa-linkedin"></i></a></li>
                                </ul>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-2">
                            <div class="footer-widget">
                                <h4 class="widget-title">Pembuatan Website</h4>
                                <ul class="xs-list">
                                    <li><a href="/jasa-pembuatan-website-company-profile"
                                            title="jasa Pembuatan website perusahaan"><span itemprop="name">Website
                                                Perusahaan</span></a></li>
                                    <li><a href="/jasa-pembuatan-website-landingpage"
                                            title="jasa Pembuatan website landing page perusahaan"><span
                                                itemprop="name">Website Landing Page</span></a></li>
                                    <li><a href="/jasa-pembuatan-website-custom"
                                            title="jasa Pembuatan website custom"><span itemprop="name">Website
                                                Custom</span></a></li>
                                    <li><a href="/jasa-pembuatan-website-umkm"
                                            title="jasa Pembuatan website umkm"><span itemprop="name">Website
                                                UMKM</span></a></li>
                                    <li><a href="/jasa-pembuatan-website"
                                            title="jasa Pembuatan website profesional"><span itemprop="name">Website
                                                Profesional</span></a></li>
                                </ul>
                            </div>
                            <br>
                            <div class="footer-widget">
                                <h4 class="widget-title">Quick Link</h4>
                                <ul class="xs-list">

                                    <li><a href="/jasa-pembuatan-website-tangerang"
                                            title="jasa Pembuatan website tangerang"><span itemprop="name">Jasa Web
                                                Tangerang</span></a></li>
                                    <li><a href="/jasa-pembuatan-website-jakarta"
                                            title="jasa Pembuatan website jakarta"><span itemprop="name">Jasa Web
                                                Jakarta</span></a></li>
                                    <li><a href="/jasa-pembuatan-website-properti"
                                            title="jasa Website Properti"><span itemprop="name">Jasa Web
                                                Properti</span></a></li>
                                    <li><a href="/jasa-website-kontraktor"
                                            title="jasa Website kontraktor"><span itemprop="name">Jasa Web
                                                Kontraktor</span></a></li>

                                    <li><a href="/jasa-seo-bulanan"
                                            title="jasa SEO Bulanan"><span itemprop="name">Jasa SEO Bulanan</span></a>
                                    </li>
                                    <li><a href="/jasa-seo-tangerang"
                                            title="jasa SEO Tangerang"><span itemprop="name">Jasa SEO
                                                Tangerang</span></a></li>
                                    <li><a href="/jasa-seo-jakarta"
                                            title="jasa SEO Jakarta"><span itemprop="name">Jasa SEO Jakarta</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="footer-widget">
                                <h4 class="widget-title">Layanan Profesional</h4>
                                <ul class="xs-list">
                                    <li><a href="/jasa-pembuatan-website"
                                            title="jasa Pembuatan website"><span itemprop="name">Pembuatan
                                                Website</span></a></li>
                                    <li><a href="/jasa-redesign-website-perusahaan"
                                            title="jasa Redesign Website"><span itemprop="name">Redesign
                                                Website</span></a></li>
                                    <li><a href="/jasa-redesign-website-perusahaan#perbaikan"
                                            title="jasa perbaikan website"><span itemprop="name">Perbaikan
                                                Website</span></a></li>
                                    <li><a href="/jasa-maintenance-website"
                                            title="jasa maintenance website perusahaan"><span
                                                itemprop="name">Maintenance Website</span></a></li>
                                    <li><a href="/jasa-google-ads"
                                            title="jasa iklan google ads"><span itemprop="name">Iklan Google
                                                Ads</span></a></li>
                                    <li><a href="/jasa-seo-murah" title="jasa seo"><span
                                                itemprop="name">Jasa SEO</span></a></li>
                                    <li><a href="/jasa-pengelolaan-media-sosial"
                                            title="jasa pengelolaan media sosial"><span itemprop="name">Pengelolaan
                                                Media Sosial</span> </a></li>
                                    <li><a href="/jasa-penulisan-artikel"
                                            title="jasa penulisan artikel"><span itemprop="name">Penulisan
                                                Artikel</span> </a></li>
                                    <li><a href="https://bilik.id/pasang-iklan/"
                                            title="jasa review bisnis dan produk"><span itemprop="name"> Review
                                                Bisnis</span> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="footer-widget">
                                <h4 class="widget-title">Informasi Umum</h4>
                                <ul class="xs-list">
                                    <li><a href="/about" title="Tentang Resolusiweb">Tentang
                                            Kami</a>
                                    </li>
                                    <li><a href="/team" title="Tim Resolusiweb">Team</a>
                                    </li>
                                    <li><a href="/cara-pesan"
                                            title="Cara pesan Website Resolusiweb">Cara Pesan</a>
                                    </li>
                                    <li><a href="/post" target="_blank"
                                            title="Informasi Blog dan Artikel">Blog</a>
                                    </li>
                                    <li><a href="/pembayaran"
                                            title="Cara pembayaran Website Resolusiweb">Pembayaran</a>
                                    </li>
                                    <li><a href="/pricelist"
                                            title="Promo terbaru resolusiweb">Pricelist & Promo</a>
                                    </li>
                                    <li><a href="/post/category/tutorial" target="_blank"
                                            title="Cara Membuat Website Resolusiweb">Tutorial Website</a>
                                    </li>
                                    <li><a href="/jangkauan" title="Area Jangkauan">Jangkauan
                                            Area</a>
                                    </li>
                                    <li><a href="/karir"
                                            title="Peluang karir Resolusiweb">Peluang Karir</a>
                                    </li>
                                    <li><a href="/policy"
                                            title="Kebijakan dan Ketentuan Resolusiweb">Kebijakan &amp; Ketentuan</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="footer-widget">
                                <h4 class="widget-title">Operasional</h4>
                                <ul class="xs-list">
                                    <li><a href="#">Senin - Jumat (09:00 - 17:00)</a></li>
                                    <li><a href="#">Sabtu (Appointment)</a></li>
                                    <li><a href="#">Minggu (Libur)</a></li>
                                </ul>
                            </div>
                            <br>


                            <!-- TrustBox widget - Review Collector -->
                            <div class="trustpilot-widget" data-locale="en-US"
                                data-template-id="56278e9abfbbba0bdcd568bc"
                                data-businessunit-id="688ae152a27e7d1da5413084" data-style-height="52px"
                                data-style-width="100%" data-token="a57218a4-a289-47b6-971e-390c45e8d304">
                                <a href="https://www.trustpilot.com/review/resolusiweb.com" target="_blank"
                                    rel="noopener">Trustpilot</a>
                            </div>
                            <!-- End TrustBox widget -->

                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright-section">
                                <p>© 2016 - 2025 . <a href="/">Resolusiweb Digital Media</a>. All
                                    Rights Reserved. CV Redim Infotech Solusindo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>