<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<link async="async" rel="stylesheet" href="/assets/css/signatra-font.css">
<link async="async" rel="preload" href="/assets/css/signatra-font.css">
<link async="async" rel="shortcut icon" href="/favicon2.ico" type="image/x-icon">

<link async="async" rel="apple-touch-icon" href="apple-touch-icon.png">
<link async="async" rel="stylesheet" href="/assets/css/font-awesome.min.css">
<link async="async" rel="preload" href="/assets/css/font-awesome.min.css">
<link async="async" rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link async="async" rel="preload" href="/assets/css/bootstrap.min.css">
<link async="async" rel="stylesheet" href="/assets/css/animate.css">
<link async="async" rel="preload" href="/assets/css/animate.css">
<link async="async" rel="stylesheet" href="/assets/css/iconfont.css">
<link async="async" rel="preload" href="/assets/css/iconfont.css">
<link async="async" rel="stylesheet" href="/assets/css/magnific-popup.css">
<link async="async" rel="preload" href="/assets/css/magnific-popup.css">
<link async="async" rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link async="async" rel="preload" href="/assets/css/owl.carousel.min.css">
<link async="async" rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
<link async="async" rel="preload" href="/assets/css/owl.theme.default.min.css">
<link async="async" rel="stylesheet" href="/assets/css/swiper.min.css">
<link async="async" rel="preload" href="/assets/css/swiper.min.css">
<link async="async" rel="stylesheet" href="/assets/css/rev-settings.css">
<link async="async" rel="preload" href="/assets/css/rev-settings.css">

<link async="async" rel="stylesheet" href="/assets/css/plugins.css">
<link async="async" rel="preload" href="/assets/css/plugins.css">

<link async="async" rel="stylesheet" href="/assets/css/style.css">
<link async="async" rel="preload" href="/assets/css/style.css">

<link async="async" rel="stylesheet" href="/assets/css/responsive.css">
<link async="async" rel="preload" href="/assets/css/responsive.css">

<link rel="stylesheet" href="/assets/css/notiflix-3.2.5.min.css">

<link rel="stylesheet" type="text/css" href="/assets/css/whatschat-layout.css">
<link rel="preload" type="text/css" href="/assets/css/whatschat-layout.css">

<link rel="stylesheet" type="text/css" href="/css/sweetalert.css">