 <header class="xs-header nav-sticky nav-light header-transparent header-style3">
                <div class="container">
                    <nav class="xs-menus clearfix xs_nav-portrait">
                        <div class="nav-header">
                            <a class="nav-brand" href="/">
                                <img src="/img/logo resolusiweb white.webp" alt="logo resolusiweb.com"
                                    draggable="false"></a>
                            <div class="nav-toggle">
                            </div>
                        </div>
                        <div class="nav-menus-wrapper align-to-right" style="transition-property: none;">

                            <ul class="nav-menu">
                                <li class=""><a href="/" title="jasa Pembuatan website perusahaan"><span
                                            itemprop="name">Home</span></a>
                                </li>
                                <li class=""><a href="/price" title="Harga Jasa Pembuatan Website">Harga Layanan<span
                                            class="submenu-indicator"></span></a>
                                    <ul class="nav-dropdown xs-icon-menu nav-submenu"
                                        style="right: auto; display: none;">
                                        <li class="single-menu-item"><a href="/jasa-pembuatan-website"
                                                title="jasa Pembuatan website"><span itemprop="name">Pembuatan
                                                    Website</span><span class="submenu-indicator"><span
                                                        class="submenu-indicator-chevron"></span></span></a>
                                            <ul class="nav-dropdown xs-icon-menu nav-submenu">
                                                <li class="single-menu-item"><a
                                                        href="/jasa-pembuatan-website-company-profile"
                                                        title="jasa Pembuatan website company profile"><span
                                                            itemprop="name">Web Company Profile</span> </a></li>
                                                <li class="single-menu-item"><a
                                                        href="/jasa-pembuatan-website-landingpage"
                                                        title="jasa Pembuatan website landing page perusahaan"><span
                                                            itemprop="name">Web Landing Page</span></a></li>
                                                <li class="single-menu-item"><a href="/jasa-pembuatan-website-custom"
                                                        title="jasa Pembuatan website custom"><span itemprop="name">Web
                                                            Custom</span></a></li>
                                                <li class="single-menu-item"><a href="/jasa-pembuatan-website-umkm"
                                                        title="jasa Pembuatan website umkm"><span itemprop="name">Web
                                                            UMKM</span></a></li>

                                            </ul>
                                        </li>
                                        <li class="single-menu-item"><a href="/jasa-redesign-website-perusahaan"
                                                title="jasa redesign website"><span itemprop="name">Redesign
                                                    Website</span></a></li>
                                        <li class="single-menu-item"><a
                                                href="/jasa-redesign-website-perusahaan#perbaikan"
                                                title="jasa perbaikan website"><span itemprop="name">Perbaikan
                                                    Website</span></a></li>
                                        <li class="single-menu-item"><a href="/jasa-maintenance-website"
                                                title="jasa maintenance website perusahaan"><span
                                                    itemprop="name">Maintenance Website</span></a></li>
                                        <li class="single-menu-item"><a href="/jasa-google-ads"
                                                title="jasa iklan google ads"><span itemprop="name">Jasa Iklan
                                                    Online</span></a></li>
                                        <li class="single-menu-item"><a href="/jasa-seo-murah"
                                                title="jasa seo website"><span itemprop="name">Jasa SEO</span></a></li>
                                        <li class="single-menu-item"><a href="/jasa-pengelolaan-media-sosial"
                                                title="jasa pengelolaan media sosial"><span itemprop="name">Jasa Kelola
                                                    Sosmed</span></a></li>
                                        <li class="single-menu-item"><a href="/jasa-penulisan-artikel"
                                                title="jasa penulisan artikel"><span itemprop="name">Jasa Penulisan
                                                    Artikel</span> </a></li>
                                        <li class="single-menu-item"><a href="https://bilik.id/pasang-iklan"
                                                title="jasa review bisnis dan produk" target="_blank"><span
                                                    itemprop="name">Jasa Review Bisnis</span></a></li>
                                    </ul>
                                </li>
                                <li class=""><a href="/templates" title="jasa desain website"><span
                                            itemprop="name">Desain</span></a></li>
                                <li class=""><a href="#" title="Harga Jasa Pembuatan Website">Portfolio<span
                                            class="submenu-indicator"></span></a>
                                    <ul class="nav-dropdown xs-icon-menu nav-submenu"
                                        style="right: auto; display: none;">
                                        <li class="single-menu-item"><a href="/proyek-seo" title="portfolio SEO"><span
                                                    itemprop="name">Portfolio SEO</span></a>
                                        </li>
                                        <li class="single-menu-item"><a href="/projects" target="_blank"
                                                title="portfolio website"><span itemprop="name">Portfolio
                                                    Website</span></a></li>
                                </li>
                            </ul>

                            <li class=""><a href="/cara-pesan" title="cara pesan website perusahaan"><span
                                        itemprop="name">Cara Pesan</span></a>
                            </li>
                            <ul class="nav-dropdown xs-icon-menu">
                                <li class="single-menu-item"><a href="/#">Informasi<span class="submenu-indicator"><span
                                                class="submenu-indicator-chevron"></span></span></a>
                                    <ul class="nav-dropdown xs-icon-menu nav-submenu">
                                        <li class="single-menu-item"><a href="/blog"
                                                title="media center resolusiweb"><span itemprop="name">Media
                                                    Center</span></a></li>
                                        <li class="single-menu-item"><a href="/media-partner" target="_blank"
                                                title="media partner resolusiweb barisan depan"><span
                                                    itemprop="name">Media Partner</span></a></li>
                                        <li class="single-menu-item"><a href="/tutorial"
                                                title="cara membuat website perusahaan"><span itemprop="name">Tutorial
                                                    Website</span></a></li>
                                        <li class="single-menu-item"><a href="/jangkauan" title="area jangkauan "><span
                                                    itemprop="name">Area jangkauan</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            </ul>
                            <ul class="header-btn">
                                <li><a href="/contact" title="permintaan penawaran resolusiweb"
                                        class="btn btn-primary btn-gradient4" itemprop="name">Minta Penawaran <i
                                            class="icon icon-arrow-right"></i></a> </li>
                            </ul>
                        </div>
                        <div class="nav-overlay-panel"></div>
                    </nav>
                </div>
            </header>